<p style="text-align: center; font-size: 40px; margin-top: 20px; "><strong>Base de Pokemons</strong></p>
<div *ngIf="pokemons">
  <button type="button" (click)="export()" class="btn btn-danger">Exportar para Excel</button>
  <button type="button" (click)="savelocal()" class="btn btn-primary">Salvar Local</button>
  <button type="buton" (click)="atualizar()" class="btn btn-success">Atualizar</button>

    <table class="table table-striped table-dark" id="Pokemon_Database">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Categoria</th>
          <th scope="col">Experiencia base</th>
          <th scope="col">Peso</th>
          <th scope="col">Altura</th>
          <th scope="col">Tipo 1</th>
          <th scope="col">Tipo 2</th>
          <th scope="col">Habilidade 1</th>
          <th scope="col">Habilidade 2</th>
          <th scope="col">Movimento 1</th>
          <th scope="col">Movimento 2</th>
          <th scope="col">Movimento 3</th>
          <th scope="col">Movimento 4</th>
          <th scope="col">URL</th>
          <th scope="col">Sprite URL</th> 
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of pokemons; let i = index;">
          <td>{{i + 1}}</td>
          <td>{{pokemon['id']}}</td>
          <td>{{pokemon['name']}}</td>
          <td>{{pokemon['description']}}</td>
          <td>{{pokemon['category']}}</td>
          <td>{{pokemon['baseExp']}}</td>
          <td>{{pokemon['weight']}}</td>
          <td>{{pokemon['height']}}</td>
          <td>{{pokemon['type0']}}</td>
          <td>{{pokemon['type1']}}</td>
          <td>{{pokemon['ability1']}}</td>
          <td>{{pokemon['ability2']}}</td>
          <td>{{pokemon['move1']}}</td>
          <td>{{pokemon['move2']}}</td>
          <td>{{pokemon['move3']}}</td>
          <td>{{pokemon['move4']}}</td>
          <td>{{pokemon['url']}}</td>
          <td>{{pokemon['sprite_front_url']}}</td>
        </tr>
      </tbody>
    </table>
</div>